@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font);
}

:root {
  /* Font */
  --font: "Manrope", sans-serif;
  --font-size: 13px;

  /* Colors */
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);
}

body {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grayish-blue);
}

.main-container {
  width: 62rem;
  height: 24rem;
  display: flex;
  border-radius: 1rem;
}

.img-card {
  width: 24rem;
  height: 24rem;
  background-image: url("./images/drawers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem 0 0 1rem;
}

.info-card {
  width: 38rem;
  height: 24rem;
  padding: 2rem 3rem 2rem 3rem;
  background-color: var(--white);
  border-radius: 0 1rem 1rem 0;
}

.info-card h1 {
  font-size: 1.8rem;
  color: var(--very-dark-grayish-blue);
  margin-bottom: 1rem;
}

.info-card p {
  color: var(--desaturated-dark-blue);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
}

.author {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
}

#michelle {
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 1.5rem;
}

.name-date {
  display: flex;
  flex-direction: column;
}

#name {
  color: var(--very-dark-grayish-blue);
}

#date {
  color: var(--desaturated-dark-blue);
  font-weight: 500;
}

.share {
  width: 3rem;
  height: 3rem;
  background-color: var(--light-grayish-blue);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share svg {
  scale: 1.5;
  color: var(--very-dark-grayish-blue);
}

.share:hover {
  background-color: var(--desaturated-dark-blue);
}

.share:hover svg {
  color: var(--white);
}

#hidden {
  display: none;
}

.share-popup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 19rem;
  height: 4rem;
  background-color: var(--very-dark-grayish-blue);
  border-radius: 1rem;
  margin: 0 0 12rem 0;
}

.share-popup::after {
  content: "";
  border: 1.2rem solid transparent;
  position: absolute;
}

.bottom.share-popup::after {
  border-top-color: var(--very-dark-grayish-blue);
  border-bottom: 0;
  bottom: -1.2rem;
  left: 50%;
  margin-left: -1.2rem;
}

.share-popup h3 {
  color: var(--light-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: var(--font-size);
}

.share-popup img {
  width: 1.8rem;
  height: 1.8rem;
}

.attribution {
  margin-top: 3rem;
}

/* ================================= Media Queries ============================== */

@media screen and (max-width: 400px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23.438rem;
    height: 36rem;
  }

  .img-card {
    width: 21rem;
    height: 16rem;
    border-radius: 1rem 1rem 0 0;
  }

  .info-card {
    width: 21rem;
    height: 25rem;
    border-radius: 0 0 1rem 1rem;
    padding: 2rem 1rem 1rem 1rem;
  }

  .info-card h1 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .info-card p {
    font-size: 1rem;
    line-height: 1.4rem;
  }

  #michelle {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
  }

  #name {
    font-size: 1rem;
  }

  #date {
    font-size: 1rem;
  }

  .share {
    width: 2.5rem;
    height: 2.5rem;
  }

  .share svg {
    scale: 1;
  }

  .share-popup {
    border-radius: 0 0 1rem 1rem;
    margin: 3rem 16.5rem 1rem 0.1rem;
    width: 21rem;
    height: 5rem;
    opacity: 1;
  }

  .share-popup::after {
    content: "";
    border: none;
    position: absolute;
  }

  .attribution {
    margin-top: 3rem;
    width: 21rem;
    font-size: 0.8rem;
  }
}
